.filters {
  padding: 20px 0;

  .name {
    border: 1px solid #595959;
    border-radius: 8px;
    padding: 10px 15px;
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;

    > svg {
      margin-right: 10px;
    }

    > input {
      border: none !important;
      outline: none !important;
      width: 100%;
    }
  }
}
