.filters {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;

  .name {
    border-radius: 8px;
    padding: 0 20px;
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
      ),
      #121212;

    > svg {
      margin-right: 10px;
    }

    > input {
      border: none !important;
      outline: none !important;
      width: 100%;
      background-color: transparent;
      color: #ffffff;
      padding: 15px 0;
      font-family: "Roboto", sans-serif;
    }
  }
}
