.launchList {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .total {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.47);
    margin: 20px 0;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 41px;
    column-gap: 41px;

    > * {
      width: calc(33% - 25px);
    }
  }
}

@media only screen and (max-width: 992px) {
  .launchList {
    .list {
      > * {
        width: calc(50% - 24px);
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .launchList {
    .list {
      > * {
        width: 100%;
      }
    }
  }
}
